body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  padding-top: 30px;
}

.firstString {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}

.btn {
  margin-top: 50px;
}
